html {
    background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  }
form{
   
     background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
body{
    text-align: center;
    margin: 10px;
}

.h1 {
  padding: 12px;
  background-color: #FFDEE9;
background-image: linear-gradient(233deg, #FFDEE9 0%, #B5FFFC 100%);
  color: #435b63;
  font-family: courier;
  /* border: 3px solid DodgerBlue; */
}
.section1 {
  width: 60%;
  float: left;
  height: 100vh;
  /* border-right: 1px dotted grey;  */
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
}
.section2 {
  width: 40%;
  float: left;
  height: 100vh;
  margin: 0;
  padding: 40px;
  box-sizing: border-box;
}

#convert {
  border-radius: 10px;
}
#convert:focus {
  border: 3px solid #555;
}
/* #convertbtn{
    margin-top : 25px;
} */

.button {
  background-color: white;
  color: black;
  text-decoration: double;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: #0c4154;
  color: white;
}
.button2 {
  background-color: white;
  color: black;
  text-decoration: double;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2:hover {
  background-color: #0c4154;
  color: white;
}
a:link{
    color: black;
}
a:active{
  /* add some css for active case*/
    background-color: #80ffaa;
}

a:hover,a:active{
    font-style: oblique;
}

@media screen and (min-width: 780px) {
.topnav .topnavLeft a {
margin: auto;
width: 90%;
}
}
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.navbara {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-buttons {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-buttons .bars {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}
.title{
        text-align: center;
        width: 100%;
}
.short-text { display: none; }


@media (max-width: 800px) {
        .short-text { 
        display: block;
        width: 100%; 
       font-size: 2rem;
        float: center;
    }
    .full-text { display: none; width: 100%; font-size: 2.3rem; }
    .brand-title{display: none;width: 100%;}
    .title{
        display: none;
    }
    .title .bars{
        background-color: white;
    }
    .navbara {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-buttons {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}
