html{
    background-color: #66bfbf;
    opacity: 1;
}
.h1{
    padding: 12px;
    background-color:#a6e7e7 ;
    color: #435b63;
}
.section1{
	width:60%;
	float:left;
	height:100vh;
	/* border-right: 1px dotted grey;  */
    box-sizing: border-box;
    margin:0;
    padding:20px;	
}
.section2{
	width:40%;
	float:left;
	height:100vh;
	margin:0;
	padding:40px;
    box-sizing: border-box;
}

#convert{
    border-radius: 10px;
}
#convert:focus{
    border: 3px solid #555;
}
/* #convertbtn{
    margin-top : 25px;
} */

.button{
  background-color:white;
  color:black;
  text-decoration:double;
  display:inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
    background-color: #0c4154;
    color: white;
  }
.button2{
  background-color:white;
  color: black;
  text-decoration:double;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button2:hover {
    background-color: #0c4154;
    color: white;
  }
